<div class="modal" id="modal-todo" role="dialog">
  <div class="todo-form">
    <a href="#" class="modal-close fa fa-close" role="button" data-dismiss="dialog"></a>
    <form action="" method="post">
      <label for="todo_title">titre</label>
      <input type="text" id="todo_title" name="todo_title" class="todo-form-control" placeholder="Entrez un titre..." required>
      <label for="todo-description">description</label>
      <textarea id="todo_description" name="todo_description" class="todo-form-control" placeholder="Ecrivez une description de la nouvelle tâche..." required></textarea>
      <div class="status-color-group">
        <div class="status-group">
          <label>statut</label>
          <div class="button-radio-group">
            {% for k, status in statuses %}
              <div class="inline-radio-item">
                <input type="radio" name="statuses" id="status_{{ k + 1 }}" value="{{ status.id }}">
                <label for="status_{{ k + 1 }}" class="todo-custom-input"><span></span></label>
                <span class="status-color" style="background-color: {{ status.color }};"></span>
                <label>{{ status.name }}</label>
              </div>
            {% endfor %}
          </div>  
        </div>
        <div class="color-group">
          <label>couleur</label>
          <div class="button-color-group">
            {% for k, color in colors %}
              <input type="radio" name="colors" id="color_{{ k + 1 }}" value="{{ color.id }}">
              <label for="color_{{ k + 1 }}" class="todo-custom-input" style="background-color: {{ color.codeHex }};">
                <div class="headband" style="background-color: {{ color.codeHex }};">
                  <h1><i class="bi bi-clipboard-data"></i>&nbsp;repositionnable</h1>
                </div>
              </label>
            {% endfor %}
          </div>  
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="button button-green btn-close" role="button" data-dismiss="dialog"><i class="fa fa-close"></i>&nbsp;annuler</a>
        <button type="submit" class="button button-dark"><i class="fa fa-save"></i>&nbsp;enregistrer</button>
      </div>
    </form>
  </div>
</div>
