{% extends 'base.html.twig' %}

{% block body %}
<div class="modal-todo-form show">
  <div class="todo-form">
    {{ form_start(form) }}  
      {{ form_row(form.title) }}  
      {{ form_row(form.description) }} 
      <div class="color-status-group">
        {{ form_row(form.status) }}
        <div class="button-radio-group">
          {% for status in statuses %}
            <span class="custom-input-radio" data-id="{{ status.id }}"></span>
            <span class="status-color" style="background-color: {{ status.color }};"></span>
            <label for="{{ 'status_'~status.id }}">{{ status.name }}</label>
          {% endfor %}
        </div>  
        {{ form_row(form.color) }}  
      </div> 
    {{ form_end(form) }}  
  </div>
</div>
{% endblock %}