{% extends 'base.html.twig' %}

{% block body %}
<div class="main-container">
	<a href="#"  role="button" class="add-new-list">
		<i class="fa fa-plus-circle"></i>&nbsp;créer une liste
	</a>
	<div class="list-container">
		{% for liste in listes %}
			<div class="card-list">
				<form method="post" action="{{ path('liste_edit', {id: liste.id}) }}">
					<div class="card-list-title">
						<p class="list-title show">{{ liste.title }}</p>
						<input type="text" name="input-title" class="input-title" placeholder="Titre de la liste" value="{{ liste.title }}">
						<div class="button-action-group">
							<a href="#" role="button" class="show fa fa-pencil"></a>
							<button type="submit" class="fa fa-save"></button>
							<a href="#" role="button" class="show fa fa-trash" data-target="#modal-delete-list" data-toggle="modal"></a>
						</div>
					</div>
				</form>
				<a href="{{ path('liste_index') }}" class="add-new-todo">
					<i class="fa fa-plus-circle"></i>&nbsp;créer une tâche
				</a>
				<div class="todo-container">
					
				</div>
				<!-- Modal confirm delete list -->
				<div class="modal" id="modal-delete-list" role="dialog">
					<div class="modal-content">
						<a href="#" class="modal-close fa fa-close" role="button" data-dismiss="dialog"></a>
						<div class="modal-header">
								<i class="fa fa-warning"></i>
						</div>
						<div class="modal-body">
							<p>Cette liste va être définitivement supprimée, cette action est irréversible.</p>
						</div>
						<div class="modal-footer">
							<a href="#" class="button button-green btn-close" role="button" data-dismiss="dialog"><i class="fa fa-close"></i>&nbsp;annuler</a>
							<a href="{{ path('liste_delete', {id: liste.id}) }}" class="button button-red" role="button"><i class="fa fa-trash"></i>&nbsp;supprimer</a>
						</div>
					</div>
				</div>
				<!-- End Modal confirm delete list -->
			</div>
		{% endfor %}
		<div class="card-list" id="new-list">
			<a href="#" class="fa fa-close" role="button" data-dismiss="dialog"></a>
			<form method="post" action="{{ path('liste_new') }}">
				<div class="card-list-title">
					<input type="text" class="input-title show" id="input-title-new-list" name="input-title" placeholder="Titre de la liste" value="Titre de la liste">
					<button type="submit" class="show fa fa-save"></button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
